.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.modal__content {
    background-color: white;
    max-width: 496px;
    width: 100%;
    border-radius: 20px;
    padding: 34px 36px;
    position: relative;
}

.modal__close {
    position: absolute;
    top: 22px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-image: url(../../images/close1.svg);
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}