.switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 56px;
    height: 28px;
    background: white;
    border: 2px solid #7e7e7e;
    border-radius: 100px;
    position: relative;
    transition: background-color 0.2s;
    margin-right: 20px;
  }
  
  .switch__box {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .switch__box:checked + .switch__slider:before {
    left: calc(100% -2px);
    transform: translateX(30px);
  }
  
  .switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100px;
    background-color: white;
  }
  
  .switch__slider:before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 45px;
    transition: 0.2s;
    background: black;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
    transition: background-color 0.4s;
  }
  
  .switch__temp-F {
    color: white;
    position: absolute;
    left: 10px;
  }
  
  .switch__temp-C {
    color: white;
    position: absolute;
    right: 6px;
  }
